@using InventoryWebApplication.Services.Database
@using InventoryWebApplication.Utils.Formatting
@using InventoryWebApplication.Models.Database
@inject DatabaseService<Product> _productsService

@{
    ViewBag.Title = "Products Management";
    ViewBag.PreviousPage = "";
    Layout = "_Layout";
}

<h3>Products</h3>
<div class="btn-toolbar">
    <a asp-controller="Products" asp-action="AddProductForm">
        <button class="btn-secondary">Add</button>
    </a>
</div>
<div class="table-wrapper table-products-wrapper">
    <table class="table table-bordered">
        <colgroup>
            <col span="1" style="width: 6%">
            <col span="1" style="width: 25%">
            <col span="1" style="width: auto">
            <col span="1" style="width: 10%">
            <col span="1" style="width: 10%">
            <col span="1" style="width: 10%">
        </colgroup>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Quant.</th>
            <th>Cost</th>
            <th>Sell Price</th>
        </tr>

        @foreach (Product product in _productsService.GetAll())
        {
            <tr>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.Id
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.Name
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.Description.CutAfter(40)
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.AvailableQuantity
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.Cost
                        </div>
                    </a>
                </td>
                <td>
                    <a class="normal-text-link" href="/products/edit/@product.Id">
                        <div>
                            @product.SellPrice
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts
{
    <script>
        
    </script>
}