@using InventoryWebApplication.Utils

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="~/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/img/favicon-16x16.png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - InventoryWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">

            @* @{ *@
            @*     string completeUrl = Context.Request.Path.ToString().TrimEnd('/'); *@
            @*     System.Diagnostics.Debug.WriteLine(completeUrl); *@
            @*     int lastSlash = completeUrl.LastIndexOf('/'); *@
            @* } *@
            @* *@
            @* @if (lastSlash != -1) *@
            @* { *@
            @*     string previousUrl = completeUrl[..lastSlash]; *@
            @*     <a href="@(previousUrl + "/")"> *@
            @*         <button class="btn"> *@
            @*             <span uk-icon="arrow-left"></span> *@
            @*         </button> *@
            @*     </a> *@
            @* } *@

            @if (Context.Request.Path.ToString().Trim('/') != "")
            {
                <a href="@("/" + ViewBag.PreviousPage)">
                    <button class="btn">
                        <span uk-icon="arrow-left"></span>
                    </button>
                </a>
            }

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InventoryWebApplication</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
            <li class="nav-user">
                @if (User.Claims.Count() != 0)
                {
                    <span class="text-dark nav-link">Hello, @User.Claims.GetName()</span>
                }

                <span class="" uk-icon="icon: user; ratio: 2"></span>
            </li>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>